<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686326315475-vsk36jtl37knikf7hqb0v4vcgsg9tcc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686326315475-vsk36jtl37knikf7hqb0v4vcgsg9tcc7</string>
	<key>API_KEY</key>
	<string>AIzaSyBZWXQKacK1C_t9CBDRVCif5aMoCZPoNGo</string>
	<key>GCM_SENDER_ID</key>
	<string>686326315475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-f72b3</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-f72b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686326315475:ios:dd3498b3d3922ef250d726</string>
</dict>
</plist>